*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}
.header{
  height: 8ex;
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
}
.logo{
  margin: 10px;
}
.logo h1{
  font-weight: bold;
  color: white;
}