*{
  padding: 0;
  margin: 0;
  font-family: Calibri;
  overflow-x: hidden;
}
body{
 
}
.header{
  height: inherit;
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  z-index: 2;
}
.logos{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo{
  background: none;
}
.logo img{
  width: 100px;
  margin: 10px;
}
.user_logo{
  background: none;
}
.user_logo img{
  width: 30px;
  margin: 10px;
}
.tabs{
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.tabs p{
  color: white;
  font-weight: 350;
  font-size: 17px;
  margin-bottom: 10px;
}
.chats_text p{
  margin-left: 10px;
}
.friends_text p{
  margin-right: 10px;
}
.bars{
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.chats_bar, .updates_bar, .friends_bar{
  height: 0.5ex;
  width: 33.3%;
  transition: 0.9s;
  background: white;
}
.chats_bar{
  width: 0%;
  background: black;
}
.friends_bar{
  background: black;
  width: 66.6%;
}
.bl{
  height:0.5px ;
  width: 100%;
  background: black;
}
.bl p{
  color: white;
}
.body_container{
  margin-top: 135px;
  width: 100%;
  position: relative;
}
.chats_body{
  position: absolute;
  height: inherit;
  width: 100%;
  transition: 0.5s;
}
.updates_body, .friends_body{
  position: relative;
  transition: 0.5s;
  right: -100%;
  top: 0;
  height: inherit;
  width: 100%;
}
.friends_body{
  margin-top: -145px;
}
.friends_body{
  
}
.new_chat{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
  transition: 0.5s;
}
.new_chat img{
  width: 47px;
  transition: 60s;
}
.ghost_alert{
  background: none;
  width: 100%;
  justify-content: center;
  align-items:center ;
  display: flex;
  margin-top: 30px;
}
.ghost_alert img{
  width: 250px;
}
.ghost_alert_p{
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.ghost_alert_p p{
  font-weight: 400;
  font-size: 13px;
}
.plus_btn_p{
  font-weight: bolder;
}
.updates_title{
  margin: 15px;
}
.updates_title p{
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}
.add_update{
  height: 90px;
  align-items: center;
  display: flex;
  width: 100%;
}
.add_update_btn{
  
}
.add_update_btn img{
  width: 60px;
  margin-left: 10px;
}
.add_update_text{
  margin-left: 5px;
}
.add_update_text h3{
  font-size: ;
}
.add_update_text p{
  font-size: 13px;
  color: grey;
  font-weight: 500;
}
.status_btn{
  position: fixed;
  bottom: 20px;
  right: -20%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #D1D5DB;
  height: 47px;
  width: 47px;
  border-radius: 100%;
  transition: 0.5s;
}
.status_btn img{
  width: 36px;
}
.pencil_btn{
  position: fixed;
  bottom: 80px;
  right: -20%;
  justify-content: center;
  align-items: center;
  display: flex;
  background: black;
  height: 47px;
  width: 47px;
  border-radius: 100%;
  transition: 0.5s;
}
.pencil_btn img, .friends_btn img{
  width: 30px;
}
.friends_btn{
  position: fixed;
  bottom: 20px;
  right: -20%;
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background: black;
  height: 47px;
  width: 47px;
  border-radius: 100%;
  transition: 0.5s;
}
.menu_page{
  transition: 0.5s;
  height: 100%;
  width: 100%;
  background: black;
  top: 0;
  left: -100%;
  position: fixed;
  z-index: 9999;
  background: linear-gradient(black,rgba(1,2,7,0.9));
}
.close_menu{
  margin: 15px;
}
.close_menu h2{
  font-weight: 400;
  font-size: 30px;
}
.menu_items{
  background: none;
}
.menu_items ul{
  margin: 10px;
}
.menu_items ul li{
  margin-top: 18px;
  color: white;
  font-size: 18px;
  font-weight: 300;
  list-style: none;
}
.menu_items ul li a{
  text-decoration: none;
  color: white;
}
.suggestions{
  margin-top: 10px;
}
.suggest{
  margin-top: 10px;
  display: flex;
}
.no_photo{
  background: none;
}
.no_photo img{
  width: 55px;
  border-radius: 100%;
}
.suggestion_names{
  margin-left: 10px;
  margin-top: 5px;
  align-items: center;
}
.suggestion_names p{
  font-weight: bold;
  font-size: 15px;
}
.suggestion_buttons{
  display: flex;
  margin-top: 5px;
}
.suggestion_buttons button{
  height: 28px;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  width: 100px;
}
.suggestion_buttons .opt_btn{
  background: white;
  color: black;
  border: 0.5px solid black;
  margin-left: 10px;
  width: 56px;
}